.header-panel {
    position: fixed;
    left: 0; top: 0;
    padding: 4px;
    width: 100%;
    background: #4182b5;
}
.container {
    width: 250px;
    height: 150px;
    text-align: left;
    padding: 10px;
    border: 3px solid #0000cc;
    border-radius: 10px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

}
.center-bottom {
    position: fixed; /* Фиксированное положение */
    text-align: center;
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 0px; /* Поля вокруг текста */
    background: #4b6bb5; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
}
