header{
    width: 100%;
    background: cornflowerblue;
    height: 70px;
    position: fixed;
    top:0; left: 0;
}
#center-bottom {
    position: fixed;
    text-align: center;
    left: 0; bottom: 0;
    padding: 0px;
    background: #4b6bb5;
    color: #fff;
    width: 100%;
}
.title{
    font-size: 36px;
    padding-top: 10px;
    text-align: center;
}
.menu{
    list-style: none;
    position: absolute;
    top: -10px;
    right: 100px;
}
header.button {
    display: inline-block;
    color: #fff;
    padding: 12px;
    border-radius: 3px;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 18px;
    line-height: 1;
    font-weight: 100;
}
