.header-panel {
    text-align: right;
    position: fixed;
    left: 0; top: 0;
    padding: 4px;
    width: 100%;
    background: #4182b5;
}
.center-bottom {
    position: fixed;
    text-align: center;
    left: 0; bottom: 0;
    padding: 0px;
    background: #4b6bb5;
    color: #fff;
    width: 100%;
}
header.button {
    display: inline-block;
    color: #fff;
    padding: 12px;
    border-radius: 3px;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 18px;
    line-height: 1;
    font-weight: 100;
}

a.button-gray {
    background-color: gray;
}